/GoNoGo/Intermediate/ProjectFiles/LocalConfig.props
/GoNoGo/Intermediate/Build
/GoNoGo/Intermediate/Config
/GoNoGo/Intermediate/ProjectFiles/obj
/GoNoGo/Saved
/GoNoGo/Cooked
/GoNoGo/Progress
/GoNoGo/Packaged
/GoNoGo/DerivedDataCache
/GoNoGo/Content/Maps/Local_Map.umap
/GoNoGo/Installer/repo
/GoNoGo/Installer/*.exe
*.bin
*.sdf
*.opensdf
*.suo
*.user
*.sln.ides
*.exe
*.app
