/GoNoGo/Intermediate/ProjectFiles/LocalConfig.props
/GoNoGo/Intermediate/Build
/GoNoGo/Intermediate/Config
/GoNoGo/Intermediate/ProjectFiles/obj
*.bin
/GoNoGo/Saved
/GoNoGo/Cooked
/GoNoGo/Progress
/GoNoGo/Packaged
/GoNoGo/DerivedDataCache
/GoNoGo/Content/Maps/Local_Map.umap
*.sdf
*.opensdf
*.suo
*.user
*.sln.ide