<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>Go, No-Go</Name>
	<Version>0.1</Version>
	<Title>Go, No-Go</Title>
	<Publisher>Go-No-Go</Publisher>
	<StartMenuDir>Go, No-Go</StartMenuDir>
	<TargetDir>@HomeDir@/go-no-go</TargetDir>
	<ProductUrl>https://github.com/AndyM84/go-no-go</ProductUrl>
	<MaintenanceToolName>updater</MaintenanceToolName>
	<RemoteRepositories>
		<Repository>
			<Url>http://amale.zibings.com/gonogo/repo</Url>
			<Enabled>1</Enabled>
			<DisplayName>Go, No-Go Repository</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>